@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OdiaFont';
  src: url('/src/fonts/AOUTK99B.TTF') format('truetype');
}

.odia-font {
  font-family: 'OdiaFont', sans-serif;
}
